.App {
  position: relative;
  min-height: 50%;
}

.Section {
  background-color: transparent;
  overflow: hidden;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
  align-items: center;
  margin-bottom: .5rem;
}

@media only screen and (min-height: 1000px) {
  .Section {
    min-height: 65vh;
  }
}