body {
  background-color: black;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(247, 240, 240) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}