.RowContainer {
    height: 100%;
}

.ConditionsContainer {
    width: 100%;
    max-width: 675px;
}

.Conditions {
    flex: 1.5 0 0%;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
}

@media only screen and (min-height: 1000px) {
    .Section {
        padding-top: 5rem;
    }
}

@media only screen and (max-width: 425px) {
    .Conditions {
        font-size: 0.8rem;
    }
}

/* 
@media only screen and (max-height: 590px) {
    .Icon {
        height: 70px;
    }

    .Conditions {
        font-weight: 600;
        font-size: 1rem;
    }
} */