.ConditionsContainer {
    width: auto;
    align-items: center;
}

.Conditions {
    font-weight: 600;
    font-size: 1rem;
}

.InputContainer {
    width: 19rem;
    justify-content: center;
}

.InputSearch {
    border: none;
    background-color: #fff;
}

.Input {
    text-align: center;
    padding-left: 0.1rem;
    border: none;
    border-radius: 10px;
    border-width: 0.5px;
}

.InputDate {
    padding: .3rem .1rem;
}

.ResetButton,
.ResetButton:visited,
.ResetButton:hover,
.ResetButton:active,
.ResetButton:focus {
    padding-left: 20px;
    cursor: pointer;
    color: #2d2d31;
    background-color: inherit;
    border: none;
}

.Location {
    color: inherit;
    font-size: 1rem;
}

.ChooseDate {
    font-size: 1.2rem;
    padding: 2rem;
}

@media only screen and (min-height: 1000px) {
    .Section {
        padding-top: 5rem;
    }
}

@media only screen and (max-height: 590px) {
    .Icon {
        height: 70px;
    }

    .Conditions {
        font-weight: 600;
        font-size: 1rem;
    }
}