.Section {
    background-color: transparent;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 1rem;
}

.Brand {
    font-family: 'Gochi Hand', cursive;
    font-size: 2rem;
    color: #F0852D;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, color 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.Brand:hover {
    color: #ea9753;
    transform: scale(1.1);
}

.Brand:active {
    transform: scale(1.05);
}

.Brand:focus {
    color: #F0852D;
    outline: none;
}

.Hamburger {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.Hamburger span {
    width: 15px;
    cursor: pointer;
    border: none;
}

.Hamburger:active span,
.Hamburger:focus span {
    border: none;
}

@media only screen and (max-width: 425px) {
    .Brand {
        font-size: 1rem;
    }
}