.Section {
    padding: .5rem;
    background-color: transparent;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 1rem;
}

.Brand {
    position: relative;
    font-family: 'Gochi Hand', cursive;
    justify-content: flex-start;
    color: #4A4E69;
    font-weight: 600;
    font-size: 1.5rem;
    transition: .5s text-shadow;
}

.Brand:hover {
    color: inherit;
    text-shadow: -1px 0 transparent, 0 1px #4A4E69, 1px 0 #4A4E69, 0 -1px transparent;
}

.Brand:active {
    top: 1px;
}

.Dropdown {
    justify-content: flex-end;
}

.InputContainer {
    width: 19rem;
    justify-content: end;
}

.InputSearch {
    border: none;
    border-radius: 0;
    background-color: #fff;
    padding: 0.1rem 0.75rem;
}

.Input {
    text-align: center;
    padding-left: 0.1rem;
    border: none;
    border-width: 0.5px;
}


@media only screen and (max-width: 464px) {
    .InputSearch {
        font-size: 0.7rem;
    }

}

@media only screen and (max-width: 413px) {
    .Brand {
        font-size: 1rem;
    }

    .InputSearch {
        display: none;
    }

}