.InputContainer {
    width: 65vw;
}

.InputContainer input:focus {
    box-shadow: none;
}

.InputSearch {
    border: none;
    border-radius: 0;
    background-color: #fff;
    padding: 0.1rem 0.75rem;
}

.Input {
    flex: 1;
    width: auto;
    text-align: left;
    font-size: .9rem;
    padding: .5rem 0.5rem;
    border: none;
    border-width: 0.5px;
}


@media only screen and (max-width: 464px) {
    .InputSearch {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 464px) {
    .Input {
        width: 50%;
    }
}