.App {
  position: relative;
}

.Section {
  padding: 0 3rem;
  background-color: transparent;
  overflow: hidden;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 425px) {
  .Section {
    padding: 0 .2rem;
  }
}